BOT_TOKEN=PUT_BOT_TOKEN_HERE
DATABASE_URL=postgresql://user:password@host:port/dbname
ADMIN_ID=8573174269
BOT_USERNAME=@TopupPrimeBot
SUPPORT_USERNAME=@bot_MD_global
CHANNEL_URL=https://t.me/MD_WEBSITE
BEP20_ADDRESS=0x5FA9B715285d6CdC646D43FCc3EfdDAdbBf8Ef72
TRC20_ADDRESS=TCa2BvRiSqLiuxV4HEh1mtBeeNWu11pYff
BYBIT_ID=524739312
DEFAULT_MIN_PURCHASE=0
